@font-face {
  font-family: "GothamBlack";
  src: url("./assets/fonts/GothamBlack/GothamBlack.eot");
  src: url("./assets/fonts/GothamBlack/GothamBlack.eot")
      format("embedded-opentype"),
    url("./assets/fonts/GothamBlack/GothamBlack.woff2") format("woff2"),
    url("./assets/fonts/GothamBlack/GothamBlack.woff") format("woff"),
    url("./assets/fonts/GothamBlack/GothamBlack.ttf") format("truetype"),
    url("./assets/fonts/GothamBlack/GothamBlack.svg#GothamBlack") format("svg");
}
@font-face {
  font-family: "GothamBlackItalic";
  src: url("./assets/fonts/GothamBlackItalic/GothamBlackItalic.eot");
  src: url("./assets/fonts/GothamBlackItalic/GothamBlackItalic.eot")
      format("embedded-opentype"),
    url("./assets/fonts/GothamBlackItalic/GothamBlackItalic.woff2")
      format("woff2"),
    url("./assets/fonts/GothamBlackItalic/GothamBlackItalic.woff")
      format("woff"),
    url("./assets/fonts/GothamBlackItalic/GothamBlackItalic.ttf")
      format("truetype"),
    url("./assets/fonts/GothamBlackItalic/GothamBlackItalic.svg#GothamBlackItalic")
      format("svg");
}
@font-face {
  font-family: "GothamBold";
  src: url("./assets/fonts/GothamBold/GothamBold.eot");
  src: url("./assets/fonts/GothamBold/GothamBold.eot")
      format("embedded-opentype"),
    url("./assets/fonts/GothamBold/GothamBold.woff2") format("woff2"),
    url("./assets/fonts/GothamBold/GothamBold.woff") format("woff"),
    url("./assets/fonts/GothamBold/GothamBold.ttf") format("truetype"),
    url("./assets/fonts/GothamBold/GothamBold.svg#GothamBold") format("svg");
}
@font-face {
  font-family: "GothamBook";
  src: url("./assets/fonts/GothamBook/GothamBook.eot");
  src: url("./assets/fonts/GothamBook/GothamBook.eot")
      format("embedded-opentype"),
    url("./assets/fonts/GothamBook/GothamBook.woff2") format("woff2"),
    url("./assets/fonts/GothamBook/GothamBook.woff") format("woff"),
    url("./assets/fonts/GothamBook/GothamBook.ttf") format("truetype"),
    url("./assets/fonts/GothamBook/GothamBook.svg#GothamBook") format("svg");
}
@font-face {
  font-family: "GothamLight";
  src: url("./assets/fonts/GothamLight/GothamLight.eot");
  src: url("./assets/fonts/GothamLight/GothamLight.eot")
      format("embedded-opentype"),
    url("./assets/fonts/GothamLight/GothamLight.woff2") format("woff2"),
    url("./assets/fonts/GothamLight/GothamLight.woff") format("woff"),
    url("./assets/fonts/GothamLight/GothamLight.ttf") format("truetype"),
    url("./assets/fonts/GothamLight/GothamLight.svg#GothamLight") format("svg");
}
@font-face {
  font-family: "GothamMedium";
  src: url("./assets/fonts/GothamMedium/GothamMedium.eot");
  src: url("./assets/fonts/GothamMedium/GothamMedium.eot")
      format("embedded-opentype"),
    url("./assets/fonts/GothamMedium/GothamMedium.woff2") format("woff2"),
    url("./assets/fonts/GothamMedium/GothamMedium.woff") format("woff"),
    url("./assets/fonts/GothamMedium/GothamMedium.ttf") format("truetype"),
    url("./assets/fonts/GothamMedium/GothamMedium.svg#GothamMedium")
      format("svg");
}
@font-face {
  font-family: "GothamThin";
  src: url("./assets/fonts/GothamThin/GothamThin.eot");
  src: url("./assets/fonts/GothamThin/GothamThin.eot")
      format("embedded-opentype"),
    url("./assets/fonts/GothamThin/GothamThin.woff2") format("woff2"),
    url("./assets/fonts/GothamThin/GothamThin.woff") format("woff"),
    url("./assets/fonts/GothamThin/GothamThin.ttf") format("truetype"),
    url("./assets/fonts/GothamThin/GothamThin.svg#GothamThin") format("svg");
}
